<div class="full_width">
    <form class="detail-form">
        <mat-card-content>
            <mat-button-toggle-group name="fontStyle" style="width:100%" [(ngModel)]="status_type" aria-label="Font Style">
                <mat-button-toggle style="width:100%" value="company">About Company</mat-button-toggle>
                <mat-button-toggle style="width:100%" value="opportunity">About Opportunity</mat-button-toggle>
            </mat-button-toggle-group>
        </mat-card-content>
        <ng-container *ngIf="status_type === 'company'">
            <mat-form-field class="full_width">
                <label id="radio-group-label" class="full_width">Please Mention Entity Interested In Creating Opportunity</label>
                <input name="org_name" matInput [(ngModel)]="detail.org_name" type="text" />
            </mat-form-field>
            <br>
            <div>
                <span style="padding-right: 10px;">
                    <mat-radio-group class="radio-group" name="partner_type" [(ngModel)]="detail.partner_type">
                        <mat-radio-button  value="individual">Individual</mat-radio-button>
                        <mat-radio-button  value="organization">Business</mat-radio-button>
                        <mat-radio-button  value="college">College</mat-radio-button>
                        <mat-radio-button  value="other">Other</mat-radio-button>
                    </mat-radio-group>
                </span>
                <span>
            <ng-container *ngIf="detail.partner_type === 'other'"> 
                <mat-form-field>
                    <mat-label>Please Mention</mat-label>
                    <input name="other_partner" matInput [(ngModel)]="detail.other_parner_type" type="text" />
                    </mat-form-field>
                </ng-container>
            </span>
            </div>
            <div>
                <span style="float: left;" class="half_width">
                    <mat-form-field>
                        <label> Facebook URL</label>
                        <input name="facebook_url" matInput [(ngModel)]="detail.facebook_url" type='text' />
                    </mat-form-field>
                </span>
                <span style="float: right;" class="half_width">
                    <mat-form-field>
                        <label> Instagram URL</label>
                        <input name="instagram_url" matInput [(ngModel)]="detail.instagram_url" type='text' />
                    </mat-form-field>
                </span>
            </div>
            <div>
            <mat-form-field class="full_width">
                <label class="full_width">Information About Entity</label>
                <br>
                <br>
                <p>Please mention about the business operations of the company. This information would be published along with the opportunity for the artists.
                Hence please see that you mention what your company does andhow its services are different and unique. Please provide the information in 4-6 sentences. 
                You may check the sample details below. 
                </p>
                <textarea matInput 
                cdkTextareaAutosize
                cdkAutosizeMinRows="2"
                cdkAutosizeMaxRows="2"
                #autosize="cdkTextareaAutosize"
                [(ngModel)] = "detail.information" name="information" id="" cols="30" rows="10"></textarea>
            </mat-form-field>
        </div>
        <div>
            <span>
                <input type="file" id="my-input" (change)="uploadFileToLogo($event)" style="display: inline; margin: 100px;" >
            </span>
            <span *ngIf="show_logo !== ''">
                <img [src]="show_logo" height="100px" width="100px">
            </span>
        </div>
        <div>
            <span style="float: left;" class="half_width">
                <div>
                    <label>Primary Contact</label>
                    <br>
                    <mat-form-field>
                        <mat-label> Name </mat-label>
                        <input name="primary_name" matInput [(ngModel)]="detail.primary_contact_name" type="text" />
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label> Email </mat-label>
                        <input name="primary_email" matInput [(ngModel)]="detail.primary_contact_email" type="text" />
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label> Phone Number </mat-label>
                        <input name="primary_phone" matInput [(ngModel)]="detail.primary_contact_phone" type="text" />
                    </mat-form-field>
                    <br>
                </div>
            </span>
            <span style="float: right;" class="half_width">
                <div>
                    <label>Secondary Contact</label>
                    <br>
                    <mat-form-field>
                        <mat-label> Name </mat-label>
                        <input name="secondary_name" matInput [(ngModel)]="detail.secondary_contact_name" type="text" />
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label> Email </mat-label>
                        <input name="secondary_email" matInput [(ngModel)]="detail.secondary_contact_email" type="text" />
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label> Phone Number </mat-label>
                        <input name="secondary_phone" matInput [(ngModel)]="detail.secondary_contact_phone" type="text">
                    </mat-form-field>
                    <br>
                </div>
            </span>
        </div>
        <div>
            <button mat-raised-button color="basic" (click)="onNextBtn()">Next</button>
        </div>
        </ng-container>
        <ng-container *ngIf="status_type === 'opportunity'">
            <div class="full_width">
                <mat-form-field class="full_width">
                    <label id="radio-group-label" class="full_width">Category Of Opportunity</label>
                    <input matInput name="category" [(ngModel)]="detail.category" />
                </mat-form-field>
            </div>
            <div class="full_width">
                <mat-form-field class="full_width">
                    <label id="radio-group-label" class="full_width">Detail About Opportunity</label>
                    <p class="full_width">Describe the opportunity to artists. Please write in detail what you intend to offer
                        to artists and how they get advantage of your offer. Our team will create the copy based on information provided by you.
                    </p>
                    <input matInput name="artist_info" [(ngModel)]="detail.artist_info" />
                </mat-form-field>
            </div>
            <div class="full_width">
                <mat-form-field class="full_width">
                    <label id="radio-group-label" class="full_width">Any Other Benefit</label>
                    <p class="full_width">Please mention if there is any other information about the opportunity you wish to provide</p>
                    <input matInput name="artist_info" [(ngModel)]="detail.other_benefits">
                </mat-form-field>
            </div>
            <div class="full_width">
                <mat-form-field class="full_width">
                    <label id="radio-group-label" class="full_width">Please mention if you need artists creating music for any particular genre</label>
                    <mat-select multiple [(ngModel)]="temp_genre" (closed)="addGenre()" [ngModelOptions]="{standalone: true}"> 
                        <mat-option *ngFor="let genre of genres" [value]="genre.json_name">{{genre.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="full_width">
                <mat-form-field class="full_width">
                    <label id="radio-group-label" class="full_width">Please mention if you need artists creating music for any particular language</label>
                    <mat-select multiple [(ngModel)]="temp_language" (closed)="addLanguage()" [ngModelOptions]="{standalone: true}"> 
                        <mat-option *ngFor="let language of languages" [value]="language.json_name">{{language.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="full_width">
                <mat-form-field class="full_width">
                    <label id="radio-group-label" class="full_width">Number Of Artists Required</label>
                    <input matInput name="no_of_artists" type="number" [(ngModel)]="detail.no_of_artists">
                </mat-form-field>
            </div>
            <div class="full_width">
                <mat-form-field class="full_width">
                    <label id="radio-group-label" class="full_width">Terms And Conditions</label>
                    <textarea matInput 
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="2"
                    cdkAutosizeMaxRows="2"
                    #autosize="cdkTextareaAutosize"
                    [(ngModel)] = "detail.terms_conditions" name="terms" id="" cols="30" rows="10"></textarea>
                </mat-form-field>
            </div>
            <div class="full_width">
                <mat-form-field class="full_width">
                    <label id="radio-group-label" class="full_width">Date And Time Of Event</label>
                    <input type="datetime-local" matInput name="date" [(ngModel)]="detail.date">
                </mat-form-field>
            </div>
            <div class="full_width">
                <label id="radio-group-label" class="full_width">Gallery</label>
                <span>
                    <input type="file" name="gallery" (change)="uploadFileToGallery($event)" multiple>
                </span>
                <span>
                    <img *ngFor="let url of show_urls" [src]="url" height="100px" width="100px"><br>
                </span>
            </div>
            <div class="full_width">
                <label id="radio-group-label" class="full_width">Is The Event Recurring?</label>
                <mat-radio-group class="radio-group" name="partner_type" [(ngModel)]="recurring">
                    <mat-radio-button  value="yes">Yes</mat-radio-button>
                    <mat-radio-button  value="no">No</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="full_width" *ngIf="recurring === 'yes'">
                <mat-form-field class="full_width">
                    <label id="radio-group-label" class="full_width">Recurring Frequency</label>
                    <mat-select [(ngModel)]="detail.recurring_frequency" (closed)="addGenre()" [ngModelOptions]="{standalone: true}"> 
                        <mat-option *ngFor="let genre of frequency" [value]="genre.json_name">{{genre.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <button mat-raised-button color="basic" (click)="onClickBtn()">Submit</button>
            </div>
        </ng-container>
        <ng-container *ngIf="status_type === 'submitted'">
            <center><h2>Response Submitted!</h2></center>
        </ng-container>
    </form>
</div>