label {
    width: 120px;
    display: inline-block;
}

.full_width {
    width: 100%;
    display: inline-block;
}



.detail-form {
    width: 100%;
    border-radius: 6px;
    background-color: #f7f5f5;
    padding: 60px;
}
  

.half_width {
    width: 50%;
}