
  .lead-form {
    width: 100%;
    border-radius: 6px;
    background-color: #f7f5f5;
    padding: 60px;
  }
  
  .field_width {
    width: 100%;
  }

  .radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .radio-button {
    margin: 5px;
  }
  
  div {
    pointer-events: none;
}