<div class="container">
    <form class="lead-form">
        <h1 class="mat-display-1">LEAD FORM</h1>

        <mat-form-field class="field_width">
            <mat-label>Full Name</mat-label>
            <input matInput name="name" [(ngModel)]="lead.name">
        </mat-form-field>

        <mat-form-field class="field_width">
            <mat-label>Email</mat-label>
            <input matInput name="email" [(ngModel)]="lead.email">
        </mat-form-field>

        <mat-form-field class="field_width">
            <mat-label>Phone Number</mat-label>
            <input matInput name="phone_no" [(ngModel)]="lead.phone_no">
        </mat-form-field>

        <mat-form-field class="field_width">
            <mat-label>City</mat-label>
            <input matInput name="city" [(ngModel)]="lead.city">
        </mat-form-field>

        <label id="radio-group-label">You are:</label>
        <mat-radio-group
            aria-labelledby="radio-group-label"
            class="radio-group"
            name="partner_type"
            [(ngModel)]="lead.partner_type">
            <mat-radio-button class="radio-button" *ngFor="let type of partner_types_list" [value]="type.json_name">
                {{type.name}}
            </mat-radio-button>
        </mat-radio-group>

        <mat-form-field class="field_width">
            <mat-label>Opportunity/Event Name</mat-label>
            <input matInput  [(ngModel)]="lead.event_title" name="event_title">
        </mat-form-field>


        <!--Organizations-->
        <ng-container *ngIf="showOrganization()">
            <mat-form-field class="field_width">
                <mat-label>Name Of Organization</mat-label>
                <input matInput name="org_name" [(ngModel)]="lead.org_name">
            </mat-form-field>
        </ng-container>

        <ng-container *ngIf="notCollege()">
            <mat-form-field class="field_width">
                <mat-label>Your Businness</mat-label>
                <mat-select multiple [(ngModel)]="temp_business" (closed)="addBusiness()" [ngModelOptions]="{standalone: true}"> 
                    <mat-option *ngFor="let business of businesses" [value]="business.json_name">{{business.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="field_width">
                <mat-label>Activity For Which You Would Like To Work With Songdew</mat-label>
                <mat-select [(ngModel)]="lead.activity" name="activity">
                    <mat-option *ngFor="let activity of activities" [value]="activity.json_name">{{activity.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </ng-container>    

        <!--Colleges-->
        <ng-container *ngIf="showCollege()">
            <mat-form-field class="field_width">
                <mat-label>Name Of College</mat-label>
                <input matInput  [(ngModel)]="lead.college_name" name="college_name">
            </mat-form-field>
            <mat-form-field class="field_width">
                <mat-label>College Activity</mat-label>
                <mat-select [(ngModel)]="lead.college_activity" name="college_activity">
                    <mat-option *ngFor = "let activity of college_activities" [value]="activity.json_name">{{activity.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </ng-container>


        <!--Music Contest-->
        <ng-container *ngIf="showMusicContest()">
            <mat-form-field class="field_width">
                <mat-label>Collage Name</mat-label>
                <input matInput  [(ngModel)]="lead.college_name" name="college_name">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Date Of Event</mat-label>
                <input matInput [matDatepicker]="picker" class="field_width" name="date_of_event" [(ngModel)]="lead.date_of_event">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="field_width">
                <mat-label>Type Of Music Contest</mat-label>
                <mat-select [(ngModel)]="lead.college_music_contest" id="selectActivity" name="colege_music_contest">
                    <ng-container>
                        <mat-option selected disabled>Type Of Music Contest Event</mat-option>
                        <mat-option *ngFor = "let activity of college_music_contest" [value]="activity.json_name">{{activity.name}}</mat-option>
                    </ng-container>  
                </mat-select>
            </mat-form-field>
        </ng-container>


        <!--College Festival-->
        <ng-container *ngIf="showCollegeFestival()">
            <mat-form-field appearance="fill">
                <mat-label>Date Of Event</mat-label>
                <input matInput [matDatepicker]="picker" class="field_width" name="date_of_event" [(ngModel)]="lead.date_of_event">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            
            <mat-form-field class="field_width">
                <mat-label>Event City</mat-label>
                <input matInput [(ngModel)]="lead.event_city" name="event_city">
            </mat-form-field>

            <mat-form-field class="field_width">
                <mat-label>Language</mat-label>
                <mat-select multiple [(ngModel)]="temp_language" (closed)="addLanguage()" [ngModelOptions]="{standalone: true}"> 
                    <mat-option *ngFor="let language of languages" [value]="language.json_name">{{language.name}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="field_width">
                <mat-label>Genre</mat-label>
                <mat-select multiple [(ngModel)]="temp_genre" (closed)="addGenre()" [ngModelOptions]="{standalone: true}"> 
                    <mat-option *ngFor="let genre of genres" [value]="genre.json_name">{{genre.name}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="field_width">
                <mat-label>Budget</mat-label>
                <mat-select [(ngModel)]="lead.budget" name="budget"> 
                    <mat-option *ngFor="let bud of budgets" [value]="bud.json_name">{{bud.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </ng-container>


        <ng-container *ngIf="showGigs()">
            <mat-form-field appearance="fill">
                <mat-label>Date Of Event</mat-label>
                <input matInput [matDatepicker]="picker" class="field_width" class="field_width" name="date_of_event" [(ngModel)]="lead.date_of_event">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="field_width">
                <mat-label>Event City</mat-label>
                <input matInput [(ngModel)]="lead.event_city"  name="event_city">
            </mat-form-field>

            <mat-form-field class="field_width">
                <mat-label>Select Event Type</mat-label>
                <mat-select [(ngModel)]="lead.gig_type" name="gig_type">
                    <mat-option *ngFor="let event of gigs" [value]="event.json_name">{{event.name}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="field_width">
                <mat-label>Language</mat-label>
                <mat-select multiple [(ngModel)]="temp_language" (closed)="addLanguage()" [ngModelOptions]="{standalone: true}"> 
                    <mat-option *ngFor="let language of languages" [value]="language.json_name">{{language.name}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="field_width">
                <mat-label>Genre</mat-label>
                <mat-select multiple [(ngModel)]="temp_genre" (closed)="addGenre()" [ngModelOptions]="{standalone: true}"> 
                    <mat-option *ngFor="let genre of genres" [value]="genre.json_name">{{genre.name}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="field_width">
                <mat-label>Budget</mat-label>
                <mat-select [(ngModel)]="lead.budget" name="budget"> 
                    <mat-option *ngFor="let bud of budgets" [value]="bud.json_name">{{bud.name}}</mat-option>
                </mat-select>
            </mat-form-field>

        </ng-container>
    </form>
</div>