<div class="container">
  <h1>Leads</h1>
  <mat-button-toggle-group name="fontStyle" style="width:100%" (click)="onToggleBtn()" [(ngModel)]="status_type" aria-label="Font Style">
      <mat-button-toggle style="width:100%" value="accepted">Accepted</mat-button-toggle>
      <mat-button-toggle style="width:100%" value="pending">Pending</mat-button-toggle>
      <mat-button-toggle style="width:100%" value="rejected">Rejected</mat-button-toggle>
  </mat-button-toggle-group>
  <div class="tabular">
    <h2> {{ToggleValue()}}</h2>
    <table class="table table-hover">
      <script type="text/javascript">
        function displayResult()
        {
            var index = document.getElementById("table").rows.length;
            var new_row = '<td>'+index+'</td><td>cell 1</td><td>cell 2</td>';
            document.getElementById("myTable").insertRow(-1).innerHTML = new_row;
        }
      </script>    
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Event Title</th>
          <th scope="col">Event City</th>
          <th scope="col">Date Of Event/Opportunity</th>
        </tr>
      </thead>
      <tbody>
        <tr (click)="onClick(obj.id)" *ngFor="let obj of lead_list">
            <td>{{obj.name}}</td>
            <td>{{obj.event_title}}</td>
            <td>{{obj.city}}</td>
            <td>{{obj.date_of_event}}</td>
          </tr>
      </tbody>
    </table>
  </div>
</div>